<!DOCTYPE html>
<html>
  <head>
    <title>CrypoWallet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
  <h1>Cabeçalho</h1>
    <%= yield %> <%# index.html.erb, edit.html.erb, ...%>
    <h1>Rodapé</h1>
  </body>
</html>
